<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>试题管理页面</title>
</head>
<body>
<div class="container">
<div class="panel panel-default">
        <div class="panel-heading">
                <h3 class="panel-title">
                       一、选择题
                </h3>
        </div>
        <div class="panel-body">

        </div>
        <div class="panel-heading">
                <h3 class="panel-title">
                        二、填空题
                </h3>
        </div>
        <div class="panel-heading">
                <h3 class="panel-title">
                       三、判断题
                </h3>
        </div>
        <div class="panel-body">

        </div>
        <div class="panel-heading">
                <h3 class="panel-title">
                        四、简答题
                </h3>
        </div>
        <div class="panel-body">

        </div>
        <div class="panel-heading">
                <h3 class="panel-title">
                        五、应用题
                </h3>
        </div>
        <div class="panel-body">
                尚未开发
        </div>
</div>
</div>
</body>
</html>