<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>作业管理页面</title>
        <link rel="stylesheet" type="text/css" th:href="@{~/css/bootstrap.css}">
        <script type="text/javascript" th:src="@{~/js/jquery-3.3.1.min.js}"></script>
        <script type="text/javascript" th:src="@{~/js/jquery.form.js}"></script>
        <script type="text/javascript" th:src="@{~/js/bootstrap.js}"></script>
        <script type="text/javascript" th:src="@{~/app/paper.js}"></script>
        <style>
                th,td {
                        white-space: nowrap;
                        text-align: center;
                }
        </style>
</head>
<body>
<div th:include="menu.html :: menu" width="100%" height="355px" frameborder="no" border="0"  ></div>
<div class="container">
        <h3>作业管理</h3>
        <table class="table table-hover">
                <thead>
                <tr>
                        <th>编号</th>
                        <th>试卷名称</th>
                        <th>选择题数量</th>
                        <th>填空题数量</th>
                        <th>判断题数量</th>
                        <th>应用题数量</th>
                        <th>简答题数量</th>
                        <th>分数</th>
                        <th>操作&nbsp;&nbsp;&nbsp;<button class="btn btn-info" data-toggle="modal" data-target="#addModal">新增</button></th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="paper,paperStat:${papers}">
                        <td th:text="${paperStat.count}"></td>
                        <td th:text="${paper.name}"></td>
                        <td th:text="${paper.cqCount}"></td>
                        <td th:text="${paper.cpCount}"></td>
                        <td th:text="${paper.jqCount}"></td>
                        <td th:text="${paper.aqCount}"></td>
                        <td th:text="${paper.dpCount}"></td>
                        <td th:text="${paper.score}"></td>
                        <td>
                                <button class="btn btn-info"  th:onclick="'javascript:paperInfo(\''+${paper.id}+'\');'">详情</button>
                                <button class="btn btn-info" th:style="${session.identity=='teacher'?'':'display: none'}"  th:onclick="'javascript:showAnswer(\''+${paper.id}+'\');'">查看答案</button>
                                <button class="btn btn-info" th:style="${session.identity=='student'?'':'display: none'}" th:onclick="'javascript:doIt(\''+${paper.id}+'\');'">答题</button>
                        </td>
                </tr>
                </tbody>
        </table>
        <ul class="pagination" style="float:right">
                <li class="page-item"><a th:href="@{'/zj/paper?pageNum='+${(pageNum-1)<=1?1:(pageNum-1)}}" class="page-link" href="#">上一页</a></li>
                <li class="page-item"><a th:href="@{'/zj/paper?pageNum='+${pageNum+1}}" class="page-link" href="#">下一页</a></li>
        </ul>
</div>

<!-- 新增模态框 -->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                        <div class="modal-content" style="width: 800px;">
                                <div class="modal-header">
                                        <h4 class="modal-title" id="addModalLabel">
                                                新增试卷&nbsp;&nbsp;&nbsp;&nbsp;<span id="message" style="color: red;"></span>
                                        </h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                &times;
                                        </button>
                                </div>
                                <div class="modal-body">
                                        <div class="radio">
                                                <label><input type="radio" onchange="changeType(this)" name="selectType" value="manual">人工选题</label>
                                                <label><input type="radio" onchange="changeType(this)" name="selectType" value="auto">自动组卷</label>
                                        </div>
                                        <!--人工选题-->
                                        <div style="display: none;" id="manual">
                                                <form id="manualPaper" action="/zj/paper/manualPaper" method="post" onsubmit="return manualPaper()">
                                                <ul class="list-group">
                                                        <li class="list-group-item">题目类型&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button style="float: right" type="submit" class="btn btn-primary" >添加</button></li>
                                                        <li class="list-group-item">试题名称&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" name="name" ></li>
                                                        <li class="list-group-item">选择题&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                <button type="button" class="btn btn-primary" onclick="showchoice()">&#8595;</button>
                                                                <button type="button" class="btn btn-primary" onclick="offchoice()">&#8593;</button>
                                                                <div id="choiceinfo" style="display: none;overflow:scroll; width:100%; height:200px;">
                                                                        <ul class="list-group" th:each="cq,cqStat:${cqs}" >
                                                                                <li class="list-group-item">
                                                                                        <input type="checkbox" class="form-check-input"  name="cq" th:value="${cq.id}">
                                                                                        <span th:text="${cqStat.count}"></span>.
                                                                                        <span th:text="${cq.text}"></span>
                                                                                </li>
                                                                        </ul>
                                                                </div>
                                                        </li>
                                                        <li class="list-group-item">填空题&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                <button type="button" class="btn btn-primary" onclick="showcomp()">&#8595;</button>
                                                                <button type="button" class="btn btn-primary" onclick="offcomp()">&#8593;</button>
                                                                <div id="compinfo" style="display: none;overflow:scroll; width:100%; height:200px;">
                                                                        <ul class="list-group" th:each="cp,cpStat:${cps}" >
                                                                                <li class="list-group-item">
                                                                                        <input type="checkbox" class="form-check-input"  name="cp" th:value="${cp.id}">
                                                                                        <span th:text="${cpStat.count}"></span>.
                                                                                        <span th:text="${cp.text}"></span>
                                                                                </li>
                                                                        </ul>
                                                                </div>
                                                        </li>
                                                        <li class="list-group-item">判断题&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                <button type="button" class="btn btn-primary" onclick="showjudge()">&#8595;</button>
                                                                <button type="button" class="btn btn-primary" onclick="offjudge()">&#8593;</button>
                                                                <div id="judgeinfo" style="display: none;overflow:scroll; width:100%; height:200px;">
                                                                        <ul class="list-group" th:each="jq,jqStat:${jqs}" >
                                                                                <li class="list-group-item">
                                                                                        <input type="checkbox" class="form-check-input"  name="jq" th:value="${jq.id}">
                                                                                        <span th:text="${jqStat.count}"></span>.
                                                                                        <span th:text="${jq.text}"></span>
                                                                                </li>
                                                                        </ul>
                                                                </div>
                                                        </li>
                                                        <li class="list-group-item">简答题&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                <button type="button" class="btn btn-primary" onclick="showdesign()">&#8595;</button>
                                                                <button type="button" class="btn btn-primary" onclick="offdesign()">&#8593;</button>
                                                                <div id="designinfo" style="display: none;overflow:scroll; width:100%; height:200px;">
                                                                        <ul class="list-group" th:each="dp,dpStat:${dps}" >
                                                                                <li class="list-group-item">
                                                                                        <input type="checkbox" class="form-check-input"  name="dp" th:value="${dp.id}">
                                                                                        <span th:text="${dpStat.count}"></span>.
                                                                                        <span th:text="${dp.text}"></span>
                                                                                </li>
                                                                        </ul>
                                                                </div>
                                                        </li>
                                                        <li class="list-group-item">应用题&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                <button type="button" class="btn btn-primary" onclick="showapp()">&#8595;</button>
                                                                <button type="button" class="btn btn-primary" onclick="offapp()">&#8593;</button>
                                                                <div id="appinfo" style="display: none;overflow:scroll; width:100%; height:200px;">
                                                                        <ul class="list-group" th:each="aq,aqStat:${aqs}" >
                                                                                <li class="list-group-item">
                                                                                        <input type="checkbox" class="form-check-input" value="" name="aq" th:value="${aq.id}">
                                                                                        <span th:text="${aqStat.count}"></span>.
                                                                                        <span th:text="${aq.text}"></span>
                                                                                </li>
                                                                        </ul>
                                                                </div>
                                                        </li>
                                                </ul>
                                                </form>
                                        </div>
                                        <!--自动组卷-->
                                        <div id="auto" style="display: none;">
                                                <form id="autoPaper" action="/zj/paper/autoPaper" method="post" onsubmit="return autoPaper()">
                                                <table class="table table-responsive-sm">
                                                        <thead>
                                                                <th>题目类型</th>
                                                                <th colspan="2">题数  <button type="submit" class="btn btn-primary" style="float: right">添加</button></th>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                                <td>试题名称 :</td>
                                                                <td>
                                                                       <input style="width: 400px;" name="name" class="form-control" type="text" >
                                                                </td>
                                                        </tr>
                                                        <tr>
                                                                <td>选择题:</td>
                                                                <td><input style="width: 100px;" name="ChoiceQueNumber" class="form-control" type="number" min="1" max="10"></td>
                                                                <td>题</td>
                                                        </tr>
                                                        <tr>
                                                                <td>填空题</td>
                                                                <td><input style="width: 100px;" class="form-control" name="CompQueNumber" type="number" min="1" max="10"></td>
                                                                <td>题</td>
                                                        </tr>
                                                        <tr>
                                                                <td>判断题</td>
                                                                <td><input style="width: 100px;" class="form-control" name="JudgeQueNumber" type="number" min="1" max="10"></td>
                                                                <td>题</td>
                                                        </tr>
                                                        <tr>
                                                                <td>简答题</td>
                                                                <td><input style="width: 100px;" class="form-control" name="DesignQueNumber" type="number" min="1" max="10"></td>
                                                                <td>题</td>
                                                        </tr>
                                                        <tr>
                                                                <td>应用题</td>
                                                                <td><input style="width: 100px;" class="form-control" name="AppQueNumber" type="number" min="1" max="10"></td>
                                                                <td>题</td>
                                                        </tr>
                                                        </tbody>
                                                </table>
                                                </form>
                                        </div>
                                </div>
                                <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                        </button>
                                </div>
                        </div>
                </div>
        </div>
</body>
</html>