<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>题库管理页面</title>
</head>
<body>
            类型：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   题数：<br>
            填空题&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;100   详情<br>
            ------》1.djadkadal &nbsp;&nbsp;&nbsp; ABCD &nbsp;&nbsp;正确答案 A  &nbsp;&nbsp;(修改-->修改问题以及答案,删除-----》从题库中删除)&nbsp; <br> 2.....<br>
            选择题<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;200  详情<br>
            简单题<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;300   详情<br>
</body>
</html>