<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{~/css/bootstrap.css}">
    <script type="text/javascript" th:src="@{~/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{~/js/jquery.form.js}"></script>
    <script type="text/javascript" th:src="@{~/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{~/app/question.js}"></script>
    <meta charset="UTF-8">
    <title>应用题详情</title>
    <style>
        th {
            white-space: nowrap;
            text-align: center;
        }
    </style>
</head>
<body>
<div th:include="menu.html :: menu" width="100%" height="100%" frameborder="no" border="0"></div>
<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>编号</th>
            <th>难度</th>
            <th width="100px">类型</th>
            <th>题目</th>
            <th>答案</th>
            <th>分值</th>
            <th colspan="2">操作
                <button class="btn btn-info" data-toggle="modal" data-target="#addModal">新增</button>
                <button class="btn btn-info" onclick="location.href='/zj/question'">返回</button>
            </th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="question,questionStat:${questions}">
            <td th:text="${questionStat.count}"></td>
            <td th:text="${question.level}"></td>
            <td th:text="${question.type}"></td>
            <td th:text="${question.text}"></td>
            <td th:text="${question.answer}"></td>
            <td th:text="${question.score}"></td>
            <td colspan="2">
                <button class="btn btn-info" data-toggle="modal" data-target="#upModal" th:onclick="'javascript:loadQueInfo(\''+${question.id}+'\');'">详情</button>
                <button class="btn btn-info" th:onclick="'javascript:delAppQue(\''+${question.id}+'\');'">删除</button>
            </td>
        </tr>
        </tbody>
    </table>
    <ul class="pagination" style="float:right">
        <li class="page-item"><a th:href="@{'/zj/questionInfo/'+${type}+'?pageNum='+${(pageNum-1)<=1?1:(pageNum-1)}}" class="page-link" href="#">上一页</a></li>
        &nbsp;&nbsp;&nbsp;
        <li class="page-item" th:text="'第'+${pageNum}+'页'"></li>
        &nbsp;&nbsp;&nbsp;
        <li class="page-item"><a th:href="@{'/zj/questionInfo/'+${type}+'?pageNum='+${pageNum+1}}" class="page-link" href="#">下一页</a></li>
    </ul>
</div>

<!-- 更新模态框 -->
<form  method="post" action="" onSubmit="">
    <div class="modal fade" id="upModal" tabindex="-1" role="dialog" aria-labelledby="upModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 800px;">
                <div class="modal-header">
                    <h6 class="modal-title" id="upModalLabel">
                        更新应用题·&nbsp;&nbsp;&nbsp;&nbsp;<span id="message2" style="color: red;"></span>
                        <input id="id" name="id" class="form-control" type="hidden" />
                    </h6>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div class="modal-body">

                    <table class="table table-bordered ">
                        <tr>
                            <td>难度类型</td>
                            <td>
                                <select class="form-control" id="questiontypeid" name="questiontypeid">
                                    <option value="0">--请选择题目难度--</option>
                                    <option value="13">简单</option>
                                    <option value="14">一般</option>
                                    <option value="15">苦难</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>题目</td>
                            <td>
                                <textarea class="form-control" rows="5" id="text" name="text" placeholder="请输入题目"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>答案</td>
                            <td>
                                <textarea class="form-control" rows="5" id="answer" name="answer" placeholder="请输入答案"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>贴图</td>
                            <td>
                               <img onmouseout="$('#imgurl').css('width','50px').css('height','50px')" onmouseover="$('#imgurl').css('width','120px').css('height','120px')" id="imgurl" name="imgurl">
                            </td>
                        </tr>
                        <tr>
                            <td>更新答案贴图:</td>
                            <td><input  name="imgfile" type="file"></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                        <button type="submit" class="btn btn-primary">
                           更新
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<!--新增模态框-->
<form id="addapplicationQue"  method="post" action="/zj/applicationQue" onSubmit="return addapplicationQue();" enctype="multipart/form-data">
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 800px;">
                <div class="modal-header">
                    <h6 class="modal-title" id="addModalLabel">
                        新增应用题&nbsp;&nbsp;&nbsp;&nbsp;<span id="message" style="color: red;"></span>
                    </h6>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div class="modal-body">

                    <table class="table table-bordered ">
                        <tr>
                            <td>难度类型</td>
                            <td>
                                <select class="form-control" name="questiontypeid">
                                    <option value="0">--请选择题目类型--</option>
                                    <option value="13">简单</option>
                                    <option value="14">一般</option>
                                    <option value="15">苦难</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>题目</td>
                            <td>
                                <textarea class="form-control" rows="5" name="text" placeholder="请输入题目"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>答案</td>
                            <td>
                                <textarea class="form-control" rows="5" name="answer" placeholder="请输入题目"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>上传答案贴图:</td>
                            <td><input name="imgfile" type="file" multiple="multiple"></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="submit" class="btn btn-primary">
                        添加
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

</body>
</html>