<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生作业列表</title>
    <link rel="stylesheet" type="text/css" th:href="@{~/css/bootstrap.css}">
    <script type="text/javascript" th:src="@{~/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{~/js/jquery.form.js}"></script>
    <script type="text/javascript" th:src="@{~/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{~/app/homework.js}"></script>
    <style>
        th,td {
            white-space: nowrap;
            text-align: center;
        }
    </style>
</head>
<body>
<div th:include="menu.html :: menu" width="100%" height="100%" frameborder="no" border="0"  ></div>
<div class="container">
    <table class="table table-hover">
        <thead>
            <th>编号</th>
            <th>学生姓名</th>
            <th>班级</th>
            <th>学号</th>
            <th>分数</th>
            <th>状态</th>
            <th>操作&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-default" onclick="alert('未实现')" >查重</button></th>
        </thead>
        <tbody>
        <tr th:each="homework,homeworkStat:${homeworks}">
            <td th:text="${homeworkStat.count}"></td>
            <td th:text="${homework.studentname}"></td>
            <td th:text="${homework.classname}"></td>
            <td th:text="${homework.stuid}"></td>
            <td th:text="${homework.score}"></td>
            <td th:text="${(homework.state)==0?'未批改':'已批完'}"></td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" th:onclick="'javascript:correction(\''+${homework.id}+'\');'">批改</button>
                    <button type="button"  class="btn btn-primary" data-toggle="modal" data-target="#addModal" th:onclick="'javascript:upd(\''+${homework.id}+'\');'">评价和建议</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- 新增模态框 -->
<form id="evaluate" method="post" action="/zj/teacher/evaHomework">
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 800px;">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">
                        评价和建议&nbsp;&nbsp;&nbsp;&nbsp;<span id="message" style="color: red;"></span>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <input type="hidden" id="id" name="id">
                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                        </tr>
                        <tr>
                            <td>评<br>价<br>:</td>
                            <td>   <textarea  name="evaluate" class="form-control" type="text" rows="5"></textarea></td>
                        </tr>
                        <tr>
                            <td>建<br>议<br>:</td>
                            <td>
                                <textarea  name="proposal" class="form-control" type="text" rows="5"></textarea>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="submit" class="btn btn-primary">
                       上传
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>