<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>菜单</title>
    <link rel="stylesheet" type="text/css" th:href="@{~/css/bootstrap.css}">
    <script type="text/javascript" th:src="@{~/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{~/js/jquery.form.js}"></script>
    <script type="text/javascript" th:src="@{~/js/bootstrap.js}"></script>
</head>
<body>
<div th:fragment="menu">
<nav class="navbar navbar-expand  bg-dark navbar-dark">
    <ul class="navbar-nav" style="height: 40px;">
        <li class="nav-item" style="margin-left: 380px" th:style="${session.identity=='teacher'?'':'display: none'}">
            <a class="nav-link" href="/zj/teacher/index">首页</a>
        </li>
        <li class="nav-item" style="margin-left: 380px" th:style="${session.identity=='student'?'':'display: none'}">
            <a class="nav-link" href="/zj/student/index">首页</a>
        </li>
        <li class="nav-item" style="margin-left: 380px" th:style="${session.identity=='admin'?'':'display: none'}">
            <a class="nav-link" href="/zj/index">首页</a>
        </li>
        <li class="nav-item" style="margin-left: 380px" th:style="${session.identity=='admin'?'':'display: none'}">
            <a class="nav-link" href="/zj/question">题库管理</a>
        </li>
        <li class="nav-item" style="margin-left: 380px" th:style="${session.role==1?'':'display: none'}">
            <a class="nav-link" href="/zj/question">题库管理</a>
        </li>
        <li class="nav-item" th:style="${session.identity=='admin'?'':'display: none'}">
            <a class="nav-link" href="/zj/paper">试卷管理</a>
        </li>
        <li class="nav-item" th:style="${session.identity=='teacher'?'':'display: none'}">
            <a class="nav-link" href="/zj/paper">试卷管理</a>
        </li>
        <li class="nav-item" th:style="${session.identity=='student'?'':'display: none'}">
            <a class="nav-link" href="/zj/student/homework">作业管理</a>
        </li>
        <li class="nav-item" th:style="${session.identity=='teacher'?'':'display: none'}">
            <a class="nav-link" href="/zj/teacher/homework">作业管理</a>
        </li>
        <li class="nav-item" th:style="${session.identity=='admin'?'':'display: none'}">
            <a class="nav-link" href="/zj/student">学生管理</a>
        </li>
        <li class="nav-item" th:style="${session.identity=='admin'?'':'display: none'}">
            <a class="nav-link" href="/zj/teacher">老师管理</a>
        </li>
        <li class="nav-item" style="position: absolute;right: 0px">
            <a class="nav-link" href="/zj/loginout">退出登录</a>
        </li>
    </ul>
</nav>
</div>
</body>
</html>